@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Josh Comeau CSS Reset*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    min-height: 100vh;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}


:root {

  /* COLORS */
  --clr-error: #FF5252;
  --clr-primary: #A445ED;
  --clr-white: #FFFFFF;
  --clr-gray-100: #F4F4F4;
  --clr-gray-200: #E9E9E9;
  --clr-gray-300: #757575;
  --clr-gray-400: #3A3A3A;
  --clr-gray-500: #2D2D2D;
  --clr-gray-600: #1F1F1F;
  --clr-gray-700: #050505;

  --text-color-primary: var(--clr-primary);
  --text-color-tertiary: var(--clr-gray-300);
  --separator-color: var(--clr-gray-200);

}


.light {
  --text-color-secondary: var(--clr-gray-500);
  --input-bg-color: var(--clr-gray-100);
  --toggle-bg-color: var(--clr-gray-300);
  --bg-main: var(--clr-white);
}

.dark {
  --text-color-secondary: var(--clr-white);
  --input-bg-color: var(--clr-gray-600);
  --toggle-bg-color: var(--clr-primary);
  --bg-main: var(--clr-gray-700);
}


.serif {
  font-family: 'Lora', serif;
}

.sans {
  font-family: 'Inter', sans-serif;
}

.mono {
  font-family: 'Inconsolata', monospace;
}



@layer components {

  .ctnr {
    @apply container mx-auto max-w-[46.125rem] px-6 tablet:px-[2.5rem] desktop:px-0
  }

  .heading-lg {
    @apply text-[2rem]/[2.5625rem] tablet:text-[4rem]/[4.8125rem] font-bold;
  }

  .heading-md {
    @apply text-2xl/[1.8125rem] ;
  }

  .heading-sm {
    @apply text-xl/6 ;
  }

  .body-md {
    @apply text-lg/6 ;
  }

  .body-sm {
    @apply text-sm/[1.0625rem] ;
  }
}